.hide-expand-button {
    position: fixed;
    left: 1em;
    bottom: 1em;
}

.album-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 4em;
}

.album-list li span {
    overflow: hidden;
    white-space: nowrap;
}

.album {
    cursor: pointer;
    margin-left: 0;
    padding: 0.6em;
    width: 100%;
}

.album:hover {
    background-color: #c7c7c7;
}

.album-address {
    background-color: #b2ffa9;
    border-radius: 3px;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.photograph-list {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

.photograph-list-container {
    background-color: #222;
}

.photograph-list {
    text-align: center;
}

.photograph-list li {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.photograph-list img {
    margin: 0;
    vertical-align: middle;
}

.photograph-list-large li {
    height: 200px;
    width: 200px;
    padding: 5px;
}

.photograph-list-large img {
    max-width: 190px;
    max-height: 190px;
}

.photograph-list-small li {
    height: 100px;
    width: 100px;
    padding: 5px;
}

.photograph-list-small img {
    max-width: 90px;
    max-height: 90px;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    width: 0;
    margin: 0;
    vertical-align: middle;
}

.album-list-header {
    padding: 1em;
}

.photograph-list li:hover {
    background-color: #444;
}

.photograph-list li a {
    color: white;
}

.photograph-container {
    background-color: #222;
    padding: 1em;
    width: 100%;
}

.photograph-container button {
    background-color: #222;
}

.photograph-container img {
    max-width: 80%;
    max-height: 560px;
}

@media only screen and (min-height: 640px) {
    .photograph-container img {
        max-height: 640px;
    }
}

.size-link a {
    color: #d7d7d7;
}

.photograph-container .back-link a {
    color: white;
}

.photograph-container.back-link a:hover {
    border-bottom: 1px solid white;
}

.photograph-container .caption {
    color: white;
}

.back-link a {
    color: black;
    padding-bottom: 0.3em;
    padding-top: 0.6em;
    text-decoration: none;
}

.back-link a:hover {
    border-bottom: 1px solid black;
}

.photograph {
    text-align: center;
    padding: 1em;
    width: 100%;
}

.photograph-address {
    margin-right: 1em;
}

.aligned-form label {
    width: 40%;
    display: inline-block;
    float: left;
    padding: 0.5em;
}

.hidden {
    display: none;
}

button {
    padding: 0.1em;
}

/*.input[type=file] {*/
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    /*overflow: hidden;*/
/*}*/

/*.input[type=file] + label {*/
    /*border-radius: 0.5em;*/
/*}*/

input[type=number] {
      -moz-appearance: textfield;
}

input[type=number], input[type=text], input[type=file], select {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.tag-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 4em;
}

.tag-list li {
    border-bottom: 1px solid silver;
    padding: 1em;
    width: 100%;
}

.tag-list li button {
    visibility: hidden;
    float: right;
}

.tag-list li:hover button {
    visibility: visible;
}

.tag-list li:hover {
    background-color: #c7c7c7;
}

